{% block body %}
    <h1>Ajouter un événement</h1>

    {{ form_start(form) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.type) }}
        {{ form_row(form.capacite) }}
        {{ form_row(form.date) }}
        {{ form_row(form.heure) }}
        {{ form_row(form.localisation) }}
        {{ form_row(form.image) }}

        <button type="submit" class="btn btn-primary">Ajouter</button>
    {{ form_end(form) }}
    {% if form_errors(form) %}
    <div class="alert alert-danger">
        {{ form_errors(form) }}
    </div>
{% endif %}

{% endblock %}